<h2>All Users:</h2>
<ul>
	<% @users.each do |user| %>
		<li>
			<%= user.name %><%= button_to "Remove", "/users/#{user.id}", :method => :delete %>
		</li>
	<% end %>
</ul>

<h3>Add a User:</h3>
<%= form_tag("/users", method: "post") do %>
  <%= label_tag('user[name]', "Name:")%>
  <%= text_field_tag('user[name]')%><br>
  <%= submit_tag("submit") %>

<% end %>

<p><%= link_to "See all Cohorts", "/cohorts" %></p>